@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
}

.hero-body {
  justify-content: center;
}

.ps-landing-page {
  width: 100%;
}

.ps-form {
  border: 1px solid white;
  border-radius: 8px;
  background: white;
  color: black;
}

.hover-pointer:hover {
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .navbar-item.has-dropdown {
    align-items: center;
  }
}

@media screen and (max-width: 1023px) {
  .hide-on-mobile {
    display: none;
  }
}
